@model IEnumerable<tracnghiem.Models.DeThi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongCauHoi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongCauHoi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
